@page
@model DevOpsProjectOne.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Login_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Plant_Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Token)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plant_Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Token)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.User_ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.User_ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.User_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
